body {
    background-color: rgb(238, 231, 231);
    font-family: "Roboto";
}

.main-body {
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 30px;
    border-radius: 10px;
    margin-top: 60px;

}

.search-input-box {
    width: 80%;
    background-color: rgb(238, 231, 231);
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

.search-input-button {

    font-size: 20px;
    padding: 10px 20px;
    margin-left: 5px;
    border: none;
    background-color: plum;
    color: white;
    border-radius: 5px;
}

header {
    border-bottom: 1px solid rgba(244, 236, 236, 0.6);
    padding-bottom: 20px;
}

main {

padding: 30px;
font-size: 14px;
padding: 30px 0;
}

.weather-app-data {

    display: flex;
    justify-content: space-between;
    
}

.weather-app-city {
    font-size: 40px;
    margin: 0;
    line-height: 48px;
}

.weather-app-details {

    font-size: 16px;
    color: rgba(39,33,66,0.4);
    line-height: 24px;
    font-weight: 500;
}
.humidity, .wind {
    color: red;
    font-weight: bold;
}
.weather-app-temperature {

    display: flex;
    justify-content: space-evenly;
}

.weather-app-temp-value {

    font-size: 88px;
    margin-left: 10px;
    font-weight: 500;
}

.weather-app-icon {

    width: 88px;
    height: 88px;
}

.weather-app-temp-unit{

    font-size: 44px;
    margin-top: 10px;
}

footer {

    border-top: 1px solid rgba(244, 236, 236, 0.6);
    padding-top: 20px;
    text-align: center;
}

a {
    color: plum;
}

